<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.westzone.milan.dao.HotelRoomMapper" >
  <resultMap id="BaseResultMap" type="org.westzone.milan.model.HotelRoom" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="hotelId" property="hotelId" jdbcType="INTEGER" />
    <result column="roomType" property="roomType" jdbcType="CHAR" />
    <result column="roomNumber" property="roomNumber" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, hotelId, roomType, roomNumber
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.westzone.milan.model.HotelRoomExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hotelroom
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from hotelroom
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hotelroom
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.westzone.milan.model.HotelRoomExample" >
    delete from hotelroom
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.westzone.milan.model.HotelRoom" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into hotelroom (hotelId, roomType, roomNumber
      )
    values (#{hotelId,jdbcType=INTEGER}, #{roomType,jdbcType=CHAR}, #{roomNumber,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.westzone.milan.model.HotelRoom" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into hotelroom
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="hotelId != null" >
        hotelId,
      </if>
      <if test="roomType != null" >
        roomType,
      </if>
      <if test="roomNumber != null" >
        roomNumber,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="hotelId != null" >
        #{hotelId,jdbcType=INTEGER},
      </if>
      <if test="roomType != null" >
        #{roomType,jdbcType=CHAR},
      </if>
      <if test="roomNumber != null" >
        #{roomNumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.westzone.milan.model.HotelRoomExample" resultType="java.lang.Integer" >
    select count(*) from hotelroom
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update hotelroom
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.hotelId != null" >
        hotelId = #{record.hotelId,jdbcType=INTEGER},
      </if>
      <if test="record.roomType != null" >
        roomType = #{record.roomType,jdbcType=CHAR},
      </if>
      <if test="record.roomNumber != null" >
        roomNumber = #{record.roomNumber,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hotelroom
    set id = #{record.id,jdbcType=INTEGER},
      hotelId = #{record.hotelId,jdbcType=INTEGER},
      roomType = #{record.roomType,jdbcType=CHAR},
      roomNumber = #{record.roomNumber,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.westzone.milan.model.HotelRoom" >
    update hotelroom
    <set >
      <if test="hotelId != null" >
        hotelId = #{hotelId,jdbcType=INTEGER},
      </if>
      <if test="roomType != null" >
        roomType = #{roomType,jdbcType=CHAR},
      </if>
      <if test="roomNumber != null" >
        roomNumber = #{roomNumber,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.westzone.milan.model.HotelRoom" >
    update hotelroom
    set hotelId = #{hotelId,jdbcType=INTEGER},
      roomType = #{roomType,jdbcType=CHAR},
      roomNumber = #{roomNumber,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>