<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.westzone.milan.dao.RegistrationMapper">
  <resultMap id="BaseResultMap" type="org.westzone.milan.model.Registration">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="milanlocation" jdbcType="CHAR" property="milanlocation" />
    <result column="zone" jdbcType="VARCHAR" property="zone" />
    <result column="kendra" jdbcType="VARCHAR" property="kendra" />
    <result column="category" jdbcType="CHAR" property="category" />
    <result column="fullname" jdbcType="VARCHAR" property="fullname" />
    <result column="gender" jdbcType="CHAR" property="gender" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="accfri" jdbcType="CHAR" property="accfri" />
    <result column="accsat" jdbcType="CHAR" property="accsat" />
    <result column="accsun" jdbcType="CHAR" property="accsun" />
    <result column="accmon" jdbcType="CHAR" property="accmon" />
    <result column="travelmode" jdbcType="CHAR" property="travelmode" />
    <result column="arrivalairport" jdbcType="VARCHAR" property="arrivalairport" />
    <result column="arrivalairline" jdbcType="VARCHAR" property="arrivalairline" />
    <result column="arrivaldatetime" jdbcType="VARCHAR" property="arrivaldatetime" />
    <result column="arrivaldate" jdbcType="DATE" property="arrivaldate" />
    <result column="arrivaltime" jdbcType="TIME" property="arrivaltime" />
    <result column="departureairport" jdbcType="VARCHAR" property="departureairport" />
    <result column="departureairline" jdbcType="VARCHAR" property="departureairline" />
    <result column="departuredatetime" jdbcType="VARCHAR" property="departuredatetime" />
    <result column="departuredate" jdbcType="DATE" property="departuredate" />
    <result column="departuretime" jdbcType="TIME" property="departuretime" />
    <result column="registrationdatetime" jdbcType="TIMESTAMP" property="registrationdatetime" />
    <result column="bhaktichakracollected" jdbcType="BIT" property="bhaktichakracollected" />
    <result column="accomodationType" jdbcType="VARCHAR" property="accomodationtype" />
    <result column="virtual_room_num" jdbcType="VARCHAR" property="virtualRoomNum" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, milanlocation, zone, kendra, category, fullname, gender, phone, comment, accfri, 
    accsat, accsun, accmon, travelmode, arrivalairport, arrivalairline, arrivaldatetime, 
    arrivaldate, arrivaltime, departureairport, departureairline, departuredatetime, 
    departuredate, departuretime, registrationdatetime, bhaktichakracollected, accomodationType, 
    virtual_room_num
  </sql>
  <select id="selectByExample" parameterType="org.westzone.milan.model.RegistrationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from registration
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from registration
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from registration
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.westzone.milan.model.RegistrationExample">
    delete from registration
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.westzone.milan.model.Registration">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into registration (milanlocation, zone, kendra, 
      category, fullname, gender, 
      phone, comment, accfri, 
      accsat, accsun, accmon, travelmode, 
      arrivalairport, arrivalairline, arrivaldatetime, 
      arrivaldate, arrivaltime, departureairport, 
      departureairline, departuredatetime, departuredate, 
      departuretime, registrationdatetime, bhaktichakracollected, 
      accomodationType, virtual_room_num)
    values (#{milanlocation,jdbcType=CHAR}, #{zone,jdbcType=VARCHAR}, #{kendra,jdbcType=VARCHAR}, 
      #{category,jdbcType=CHAR}, #{fullname,jdbcType=VARCHAR}, #{gender,jdbcType=CHAR}, 
      #{phone,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR}, #{accfri,jdbcType=CHAR}, 
      #{accsat,jdbcType=CHAR}, #{accsun,jdbcType=CHAR}, #{accmon,jdbcType=CHAR}, #{travelmode,jdbcType=CHAR}, 
      #{arrivalairport,jdbcType=VARCHAR}, #{arrivalairline,jdbcType=VARCHAR}, #{arrivaldatetime,jdbcType=VARCHAR}, 
      #{arrivaldate,jdbcType=DATE}, #{arrivaltime,jdbcType=TIME}, #{departureairport,jdbcType=VARCHAR}, 
      #{departureairline,jdbcType=VARCHAR}, #{departuredatetime,jdbcType=VARCHAR}, #{departuredate,jdbcType=DATE}, 
      #{departuretime,jdbcType=TIME}, #{registrationdatetime,jdbcType=TIMESTAMP}, #{bhaktichakracollected,jdbcType=BIT}, 
      #{accomodationtype,jdbcType=VARCHAR}, #{virtualRoomNum,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.westzone.milan.model.Registration">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into registration
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="milanlocation != null">
        milanlocation,
      </if>
      <if test="zone != null">
        zone,
      </if>
      <if test="kendra != null">
        kendra,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="fullname != null">
        fullname,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="accfri != null">
        accfri,
      </if>
      <if test="accsat != null">
        accsat,
      </if>
      <if test="accsun != null">
        accsun,
      </if>
      <if test="accmon != null">
        accmon,
      </if>
      <if test="travelmode != null">
        travelmode,
      </if>
      <if test="arrivalairport != null">
        arrivalairport,
      </if>
      <if test="arrivalairline != null">
        arrivalairline,
      </if>
      <if test="arrivaldatetime != null">
        arrivaldatetime,
      </if>
      <if test="arrivaldate != null">
        arrivaldate,
      </if>
      <if test="arrivaltime != null">
        arrivaltime,
      </if>
      <if test="departureairport != null">
        departureairport,
      </if>
      <if test="departureairline != null">
        departureairline,
      </if>
      <if test="departuredatetime != null">
        departuredatetime,
      </if>
      <if test="departuredate != null">
        departuredate,
      </if>
      <if test="departuretime != null">
        departuretime,
      </if>
      <if test="registrationdatetime != null">
        registrationdatetime,
      </if>
      <if test="bhaktichakracollected != null">
        bhaktichakracollected,
      </if>
      <if test="accomodationtype != null">
        accomodationType,
      </if>
      <if test="virtualRoomNum != null">
        virtual_room_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="milanlocation != null">
        #{milanlocation,jdbcType=CHAR},
      </if>
      <if test="zone != null">
        #{zone,jdbcType=VARCHAR},
      </if>
      <if test="kendra != null">
        #{kendra,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        #{category,jdbcType=CHAR},
      </if>
      <if test="fullname != null">
        #{fullname,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=CHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="accfri != null">
        #{accfri,jdbcType=CHAR},
      </if>
      <if test="accsat != null">
        #{accsat,jdbcType=CHAR},
      </if>
      <if test="accsun != null">
        #{accsun,jdbcType=CHAR},
      </if>
      <if test="accmon != null">
        #{accmon,jdbcType=CHAR},
      </if>
      <if test="travelmode != null">
        #{travelmode,jdbcType=CHAR},
      </if>
      <if test="arrivalairport != null">
        #{arrivalairport,jdbcType=VARCHAR},
      </if>
      <if test="arrivalairline != null">
        #{arrivalairline,jdbcType=VARCHAR},
      </if>
      <if test="arrivaldatetime != null">
        #{arrivaldatetime,jdbcType=VARCHAR},
      </if>
      <if test="arrivaldate != null">
        #{arrivaldate,jdbcType=DATE},
      </if>
      <if test="arrivaltime != null">
        #{arrivaltime,jdbcType=TIME},
      </if>
      <if test="departureairport != null">
        #{departureairport,jdbcType=VARCHAR},
      </if>
      <if test="departureairline != null">
        #{departureairline,jdbcType=VARCHAR},
      </if>
      <if test="departuredatetime != null">
        #{departuredatetime,jdbcType=VARCHAR},
      </if>
      <if test="departuredate != null">
        #{departuredate,jdbcType=DATE},
      </if>
      <if test="departuretime != null">
        #{departuretime,jdbcType=TIME},
      </if>
      <if test="registrationdatetime != null">
        #{registrationdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="bhaktichakracollected != null">
        #{bhaktichakracollected,jdbcType=BIT},
      </if>
      <if test="accomodationtype != null">
        #{accomodationtype,jdbcType=VARCHAR},
      </if>
      <if test="virtualRoomNum != null">
        #{virtualRoomNum,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.westzone.milan.model.RegistrationExample" resultType="java.lang.Integer">
    select count(*) from registration
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update registration
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.milanlocation != null">
        milanlocation = #{record.milanlocation,jdbcType=CHAR},
      </if>
      <if test="record.zone != null">
        zone = #{record.zone,jdbcType=VARCHAR},
      </if>
      <if test="record.kendra != null">
        kendra = #{record.kendra,jdbcType=VARCHAR},
      </if>
      <if test="record.category != null">
        category = #{record.category,jdbcType=CHAR},
      </if>
      <if test="record.fullname != null">
        fullname = #{record.fullname,jdbcType=VARCHAR},
      </if>
      <if test="record.gender != null">
        gender = #{record.gender,jdbcType=CHAR},
      </if>
      <if test="record.phone != null">
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.comment != null">
        comment = #{record.comment,jdbcType=VARCHAR},
      </if>
      <if test="record.accfri != null">
        accfri = #{record.accfri,jdbcType=CHAR},
      </if>
      <if test="record.accsat != null">
        accsat = #{record.accsat,jdbcType=CHAR},
      </if>
      <if test="record.accsun != null">
        accsun = #{record.accsun,jdbcType=CHAR},
      </if>
      <if test="record.accmon != null">
        accmon = #{record.accmon,jdbcType=CHAR},
      </if>
      <if test="record.travelmode != null">
        travelmode = #{record.travelmode,jdbcType=CHAR},
      </if>
      <if test="record.arrivalairport != null">
        arrivalairport = #{record.arrivalairport,jdbcType=VARCHAR},
      </if>
      <if test="record.arrivalairline != null">
        arrivalairline = #{record.arrivalairline,jdbcType=VARCHAR},
      </if>
      <if test="record.arrivaldatetime != null">
        arrivaldatetime = #{record.arrivaldatetime,jdbcType=VARCHAR},
      </if>
      <if test="record.arrivaldate != null">
        arrivaldate = #{record.arrivaldate,jdbcType=DATE},
      </if>
      <if test="record.arrivaltime != null">
        arrivaltime = #{record.arrivaltime,jdbcType=TIME},
      </if>
      <if test="record.departureairport != null">
        departureairport = #{record.departureairport,jdbcType=VARCHAR},
      </if>
      <if test="record.departureairline != null">
        departureairline = #{record.departureairline,jdbcType=VARCHAR},
      </if>
      <if test="record.departuredatetime != null">
        departuredatetime = #{record.departuredatetime,jdbcType=VARCHAR},
      </if>
      <if test="record.departuredate != null">
        departuredate = #{record.departuredate,jdbcType=DATE},
      </if>
      <if test="record.departuretime != null">
        departuretime = #{record.departuretime,jdbcType=TIME},
      </if>
      <if test="record.registrationdatetime != null">
        registrationdatetime = #{record.registrationdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.bhaktichakracollected != null">
        bhaktichakracollected = #{record.bhaktichakracollected,jdbcType=BIT},
      </if>
      <if test="record.accomodationtype != null">
        accomodationType = #{record.accomodationtype,jdbcType=VARCHAR},
      </if>
      <if test="record.virtualRoomNum != null">
        virtual_room_num = #{record.virtualRoomNum,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update registration
    set id = #{record.id,jdbcType=INTEGER},
      milanlocation = #{record.milanlocation,jdbcType=CHAR},
      zone = #{record.zone,jdbcType=VARCHAR},
      kendra = #{record.kendra,jdbcType=VARCHAR},
      category = #{record.category,jdbcType=CHAR},
      fullname = #{record.fullname,jdbcType=VARCHAR},
      gender = #{record.gender,jdbcType=CHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      comment = #{record.comment,jdbcType=VARCHAR},
      accfri = #{record.accfri,jdbcType=CHAR},
      accsat = #{record.accsat,jdbcType=CHAR},
      accsun = #{record.accsun,jdbcType=CHAR},
      accmon = #{record.accmon,jdbcType=CHAR},
      travelmode = #{record.travelmode,jdbcType=CHAR},
      arrivalairport = #{record.arrivalairport,jdbcType=VARCHAR},
      arrivalairline = #{record.arrivalairline,jdbcType=VARCHAR},
      arrivaldatetime = #{record.arrivaldatetime,jdbcType=VARCHAR},
      arrivaldate = #{record.arrivaldate,jdbcType=DATE},
      arrivaltime = #{record.arrivaltime,jdbcType=TIME},
      departureairport = #{record.departureairport,jdbcType=VARCHAR},
      departureairline = #{record.departureairline,jdbcType=VARCHAR},
      departuredatetime = #{record.departuredatetime,jdbcType=VARCHAR},
      departuredate = #{record.departuredate,jdbcType=DATE},
      departuretime = #{record.departuretime,jdbcType=TIME},
      registrationdatetime = #{record.registrationdatetime,jdbcType=TIMESTAMP},
      bhaktichakracollected = #{record.bhaktichakracollected,jdbcType=BIT},
      accomodationType = #{record.accomodationtype,jdbcType=VARCHAR},
      virtual_room_num = #{record.virtualRoomNum,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.westzone.milan.model.Registration">
    update registration
    <set>
      <if test="milanlocation != null">
        milanlocation = #{milanlocation,jdbcType=CHAR},
      </if>
      <if test="zone != null">
        zone = #{zone,jdbcType=VARCHAR},
      </if>
      <if test="kendra != null">
        kendra = #{kendra,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        category = #{category,jdbcType=CHAR},
      </if>
      <if test="fullname != null">
        fullname = #{fullname,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=CHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="accfri != null">
        accfri = #{accfri,jdbcType=CHAR},
      </if>
      <if test="accsat != null">
        accsat = #{accsat,jdbcType=CHAR},
      </if>
      <if test="accsun != null">
        accsun = #{accsun,jdbcType=CHAR},
      </if>
      <if test="accmon != null">
        accmon = #{accmon,jdbcType=CHAR},
      </if>
      <if test="travelmode != null">
        travelmode = #{travelmode,jdbcType=CHAR},
      </if>
      <if test="arrivalairport != null">
        arrivalairport = #{arrivalairport,jdbcType=VARCHAR},
      </if>
      <if test="arrivalairline != null">
        arrivalairline = #{arrivalairline,jdbcType=VARCHAR},
      </if>
      <if test="arrivaldatetime != null">
        arrivaldatetime = #{arrivaldatetime,jdbcType=VARCHAR},
      </if>
      <if test="arrivaldate != null">
        arrivaldate = #{arrivaldate,jdbcType=DATE},
      </if>
      <if test="arrivaltime != null">
        arrivaltime = #{arrivaltime,jdbcType=TIME},
      </if>
      <if test="departureairport != null">
        departureairport = #{departureairport,jdbcType=VARCHAR},
      </if>
      <if test="departureairline != null">
        departureairline = #{departureairline,jdbcType=VARCHAR},
      </if>
      <if test="departuredatetime != null">
        departuredatetime = #{departuredatetime,jdbcType=VARCHAR},
      </if>
      <if test="departuredate != null">
        departuredate = #{departuredate,jdbcType=DATE},
      </if>
      <if test="departuretime != null">
        departuretime = #{departuretime,jdbcType=TIME},
      </if>
      <if test="registrationdatetime != null">
        registrationdatetime = #{registrationdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="bhaktichakracollected != null">
        bhaktichakracollected = #{bhaktichakracollected,jdbcType=BIT},
      </if>
      <if test="accomodationtype != null">
        accomodationType = #{accomodationtype,jdbcType=VARCHAR},
      </if>
      <if test="virtualRoomNum != null">
        virtual_room_num = #{virtualRoomNum,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.westzone.milan.model.Registration">
    update registration
    set milanlocation = #{milanlocation,jdbcType=CHAR},
      zone = #{zone,jdbcType=VARCHAR},
      kendra = #{kendra,jdbcType=VARCHAR},
      category = #{category,jdbcType=CHAR},
      fullname = #{fullname,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=CHAR},
      phone = #{phone,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      accfri = #{accfri,jdbcType=CHAR},
      accsat = #{accsat,jdbcType=CHAR},
      accsun = #{accsun,jdbcType=CHAR},
      accmon = #{accmon,jdbcType=CHAR},
      travelmode = #{travelmode,jdbcType=CHAR},
      arrivalairport = #{arrivalairport,jdbcType=VARCHAR},
      arrivalairline = #{arrivalairline,jdbcType=VARCHAR},
      arrivaldatetime = #{arrivaldatetime,jdbcType=VARCHAR},
      arrivaldate = #{arrivaldate,jdbcType=DATE},
      arrivaltime = #{arrivaltime,jdbcType=TIME},
      departureairport = #{departureairport,jdbcType=VARCHAR},
      departureairline = #{departureairline,jdbcType=VARCHAR},
      departuredatetime = #{departuredatetime,jdbcType=VARCHAR},
      departuredate = #{departuredate,jdbcType=DATE},
      departuretime = #{departuretime,jdbcType=TIME},
      registrationdatetime = #{registrationdatetime,jdbcType=TIMESTAMP},
      bhaktichakracollected = #{bhaktichakracollected,jdbcType=BIT},
      accomodationType = #{accomodationtype,jdbcType=VARCHAR},
      virtual_room_num = #{virtualRoomNum,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="org.westzone.milan.model.Registration">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="milanlocation" jdbcType="CHAR" property="milanlocation" />
    <result column="zone" jdbcType="VARCHAR" property="zone" />
    <result column="kendra" jdbcType="VARCHAR" property="kendra" />
    <result column="category" jdbcType="CHAR" property="category" />
    <result column="fullname" jdbcType="VARCHAR" property="fullname" />
    <result column="gender" jdbcType="CHAR" property="gender" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="accfri" jdbcType="CHAR" property="accfri" />
    <result column="accsat" jdbcType="CHAR" property="accsat" />
    <result column="accsun" jdbcType="CHAR" property="accsun" />
    <result column="accmon" jdbcType="CHAR" property="accmon" />
    <result column="travelmode" jdbcType="CHAR" property="travelmode" />
    <result column="arrivalairport" jdbcType="VARCHAR" property="arrivalairport" />
    <result column="arrivalairline" jdbcType="VARCHAR" property="arrivalairline" />
    <result column="arrivaldatetime" jdbcType="VARCHAR" property="arrivaldatetime" />
    <result column="arrivaldate" jdbcType="DATE" property="arrivaldate" />
    <result column="arrivaltime" jdbcType="TIME" property="arrivaltime" />
    <result column="departureairport" jdbcType="VARCHAR" property="departureairport" />
    <result column="departureairline" jdbcType="VARCHAR" property="departureairline" />
    <result column="departuredatetime" jdbcType="VARCHAR" property="departuredatetime" />
    <result column="departuredate" jdbcType="DATE" property="departuredate" />
    <result column="departuretime" jdbcType="TIME" property="departuretime" />
    <result column="registrationdatetime" jdbcType="TIMESTAMP" property="registrationdatetime" />
    <result column="bhaktichakracollected" jdbcType="BIT" property="bhaktichakracollected" />
    <result column="accomodationType" jdbcType="VARCHAR" property="accomodationtype" />
    <result column="virtual_room_num" jdbcType="VARCHAR" property="virtualRoomNum" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, milanlocation, zone, kendra, category, fullname, gender, phone, comment, accfri, 
    accsat, accsun, accmon, travelmode, arrivalairport, arrivalairline, arrivaldatetime, 
    arrivaldate, arrivaltime, departureairport, departureairline, departuredatetime, 
    departuredate, departuretime, registrationdatetime, bhaktichakracollected, accomodationType, 
    virtual_room_num
  </sql>
  <select id="selectByExample" parameterType="org.westzone.milan.model.RegistrationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from registration
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from registration
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from registration
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.westzone.milan.model.RegistrationExample">
    delete from registration
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.westzone.milan.model.Registration">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into registration (milanlocation, zone, kendra, 
      category, fullname, gender, 
      phone, comment, accfri, 
      accsat, accsun, accmon, travelmode, 
      arrivalairport, arrivalairline, arrivaldatetime, 
      arrivaldate, arrivaltime, departureairport, 
      departureairline, departuredatetime, departuredate, 
      departuretime, registrationdatetime, bhaktichakracollected, 
      accomodationType, virtual_room_num)
    values (#{milanlocation,jdbcType=CHAR}, #{zone,jdbcType=VARCHAR}, #{kendra,jdbcType=VARCHAR}, 
      #{category,jdbcType=CHAR}, #{fullname,jdbcType=VARCHAR}, #{gender,jdbcType=CHAR}, 
      #{phone,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR}, #{accfri,jdbcType=CHAR}, 
      #{accsat,jdbcType=CHAR}, #{accsun,jdbcType=CHAR}, #{accmon,jdbcType=CHAR}, #{travelmode,jdbcType=CHAR}, 
      #{arrivalairport,jdbcType=VARCHAR}, #{arrivalairline,jdbcType=VARCHAR}, #{arrivaldatetime,jdbcType=VARCHAR}, 
      #{arrivaldate,jdbcType=DATE}, #{arrivaltime,jdbcType=TIME}, #{departureairport,jdbcType=VARCHAR}, 
      #{departureairline,jdbcType=VARCHAR}, #{departuredatetime,jdbcType=VARCHAR}, #{departuredate,jdbcType=DATE}, 
      #{departuretime,jdbcType=TIME}, #{registrationdatetime,jdbcType=TIMESTAMP}, #{bhaktichakracollected,jdbcType=BIT}, 
      #{accomodationtype,jdbcType=VARCHAR}, #{virtualRoomNum,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.westzone.milan.model.Registration">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into registration
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="milanlocation != null">
        milanlocation,
      </if>
      <if test="zone != null">
        zone,
      </if>
      <if test="kendra != null">
        kendra,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="fullname != null">
        fullname,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="accfri != null">
        accfri,
      </if>
      <if test="accsat != null">
        accsat,
      </if>
      <if test="accsun != null">
        accsun,
      </if>
      <if test="accmon != null">
        accmon,
      </if>
      <if test="travelmode != null">
        travelmode,
      </if>
      <if test="arrivalairport != null">
        arrivalairport,
      </if>
      <if test="arrivalairline != null">
        arrivalairline,
      </if>
      <if test="arrivaldatetime != null">
        arrivaldatetime,
      </if>
      <if test="arrivaldate != null">
        arrivaldate,
      </if>
      <if test="arrivaltime != null">
        arrivaltime,
      </if>
      <if test="departureairport != null">
        departureairport,
      </if>
      <if test="departureairline != null">
        departureairline,
      </if>
      <if test="departuredatetime != null">
        departuredatetime,
      </if>
      <if test="departuredate != null">
        departuredate,
      </if>
      <if test="departuretime != null">
        departuretime,
      </if>
      <if test="registrationdatetime != null">
        registrationdatetime,
      </if>
      <if test="bhaktichakracollected != null">
        bhaktichakracollected,
      </if>
      <if test="accomodationtype != null">
        accomodationType,
      </if>
      <if test="virtualRoomNum != null">
        virtual_room_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="milanlocation != null">
        #{milanlocation,jdbcType=CHAR},
      </if>
      <if test="zone != null">
        #{zone,jdbcType=VARCHAR},
      </if>
      <if test="kendra != null">
        #{kendra,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        #{category,jdbcType=CHAR},
      </if>
      <if test="fullname != null">
        #{fullname,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=CHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="accfri != null">
        #{accfri,jdbcType=CHAR},
      </if>
      <if test="accsat != null">
        #{accsat,jdbcType=CHAR},
      </if>
      <if test="accsun != null">
        #{accsun,jdbcType=CHAR},
      </if>
      <if test="accmon != null">
        #{accmon,jdbcType=CHAR},
      </if>
      <if test="travelmode != null">
        #{travelmode,jdbcType=CHAR},
      </if>
      <if test="arrivalairport != null">
        #{arrivalairport,jdbcType=VARCHAR},
      </if>
      <if test="arrivalairline != null">
        #{arrivalairline,jdbcType=VARCHAR},
      </if>
      <if test="arrivaldatetime != null">
        #{arrivaldatetime,jdbcType=VARCHAR},
      </if>
      <if test="arrivaldate != null">
        #{arrivaldate,jdbcType=DATE},
      </if>
      <if test="arrivaltime != null">
        #{arrivaltime,jdbcType=TIME},
      </if>
      <if test="departureairport != null">
        #{departureairport,jdbcType=VARCHAR},
      </if>
      <if test="departureairline != null">
        #{departureairline,jdbcType=VARCHAR},
      </if>
      <if test="departuredatetime != null">
        #{departuredatetime,jdbcType=VARCHAR},
      </if>
      <if test="departuredate != null">
        #{departuredate,jdbcType=DATE},
      </if>
      <if test="departuretime != null">
        #{departuretime,jdbcType=TIME},
      </if>
      <if test="registrationdatetime != null">
        #{registrationdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="bhaktichakracollected != null">
        #{bhaktichakracollected,jdbcType=BIT},
      </if>
      <if test="accomodationtype != null">
        #{accomodationtype,jdbcType=VARCHAR},
      </if>
      <if test="virtualRoomNum != null">
        #{virtualRoomNum,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.westzone.milan.model.RegistrationExample" resultType="java.lang.Integer">
    select count(*) from registration
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update registration
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.milanlocation != null">
        milanlocation = #{record.milanlocation,jdbcType=CHAR},
      </if>
      <if test="record.zone != null">
        zone = #{record.zone,jdbcType=VARCHAR},
      </if>
      <if test="record.kendra != null">
        kendra = #{record.kendra,jdbcType=VARCHAR},
      </if>
      <if test="record.category != null">
        category = #{record.category,jdbcType=CHAR},
      </if>
      <if test="record.fullname != null">
        fullname = #{record.fullname,jdbcType=VARCHAR},
      </if>
      <if test="record.gender != null">
        gender = #{record.gender,jdbcType=CHAR},
      </if>
      <if test="record.phone != null">
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.comment != null">
        comment = #{record.comment,jdbcType=VARCHAR},
      </if>
      <if test="record.accfri != null">
        accfri = #{record.accfri,jdbcType=CHAR},
      </if>
      <if test="record.accsat != null">
        accsat = #{record.accsat,jdbcType=CHAR},
      </if>
      <if test="record.accsun != null">
        accsun = #{record.accsun,jdbcType=CHAR},
      </if>
      <if test="record.accmon != null">
        accmon = #{record.accmon,jdbcType=CHAR},
      </if>
      <if test="record.travelmode != null">
        travelmode = #{record.travelmode,jdbcType=CHAR},
      </if>
      <if test="record.arrivalairport != null">
        arrivalairport = #{record.arrivalairport,jdbcType=VARCHAR},
      </if>
      <if test="record.arrivalairline != null">
        arrivalairline = #{record.arrivalairline,jdbcType=VARCHAR},
      </if>
      <if test="record.arrivaldatetime != null">
        arrivaldatetime = #{record.arrivaldatetime,jdbcType=VARCHAR},
      </if>
      <if test="record.arrivaldate != null">
        arrivaldate = #{record.arrivaldate,jdbcType=DATE},
      </if>
      <if test="record.arrivaltime != null">
        arrivaltime = #{record.arrivaltime,jdbcType=TIME},
      </if>
      <if test="record.departureairport != null">
        departureairport = #{record.departureairport,jdbcType=VARCHAR},
      </if>
      <if test="record.departureairline != null">
        departureairline = #{record.departureairline,jdbcType=VARCHAR},
      </if>
      <if test="record.departuredatetime != null">
        departuredatetime = #{record.departuredatetime,jdbcType=VARCHAR},
      </if>
      <if test="record.departuredate != null">
        departuredate = #{record.departuredate,jdbcType=DATE},
      </if>
      <if test="record.departuretime != null">
        departuretime = #{record.departuretime,jdbcType=TIME},
      </if>
      <if test="record.registrationdatetime != null">
        registrationdatetime = #{record.registrationdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.bhaktichakracollected != null">
        bhaktichakracollected = #{record.bhaktichakracollected,jdbcType=BIT},
      </if>
      <if test="record.accomodationtype != null">
        accomodationType = #{record.accomodationtype,jdbcType=VARCHAR},
      </if>
      <if test="record.virtualRoomNum != null">
        virtual_room_num = #{record.virtualRoomNum,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update registration
    set id = #{record.id,jdbcType=INTEGER},
      milanlocation = #{record.milanlocation,jdbcType=CHAR},
      zone = #{record.zone,jdbcType=VARCHAR},
      kendra = #{record.kendra,jdbcType=VARCHAR},
      category = #{record.category,jdbcType=CHAR},
      fullname = #{record.fullname,jdbcType=VARCHAR},
      gender = #{record.gender,jdbcType=CHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      comment = #{record.comment,jdbcType=VARCHAR},
      accfri = #{record.accfri,jdbcType=CHAR},
      accsat = #{record.accsat,jdbcType=CHAR},
      accsun = #{record.accsun,jdbcType=CHAR},
      accmon = #{record.accmon,jdbcType=CHAR},
      travelmode = #{record.travelmode,jdbcType=CHAR},
      arrivalairport = #{record.arrivalairport,jdbcType=VARCHAR},
      arrivalairline = #{record.arrivalairline,jdbcType=VARCHAR},
      arrivaldatetime = #{record.arrivaldatetime,jdbcType=VARCHAR},
      arrivaldate = #{record.arrivaldate,jdbcType=DATE},
      arrivaltime = #{record.arrivaltime,jdbcType=TIME},
      departureairport = #{record.departureairport,jdbcType=VARCHAR},
      departureairline = #{record.departureairline,jdbcType=VARCHAR},
      departuredatetime = #{record.departuredatetime,jdbcType=VARCHAR},
      departuredate = #{record.departuredate,jdbcType=DATE},
      departuretime = #{record.departuretime,jdbcType=TIME},
      registrationdatetime = #{record.registrationdatetime,jdbcType=TIMESTAMP},
      bhaktichakracollected = #{record.bhaktichakracollected,jdbcType=BIT},
      accomodationType = #{record.accomodationtype,jdbcType=VARCHAR},
      virtual_room_num = #{record.virtualRoomNum,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.westzone.milan.model.Registration">
    update registration
    <set>
      <if test="milanlocation != null">
        milanlocation = #{milanlocation,jdbcType=CHAR},
      </if>
      <if test="zone != null">
        zone = #{zone,jdbcType=VARCHAR},
      </if>
      <if test="kendra != null">
        kendra = #{kendra,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        category = #{category,jdbcType=CHAR},
      </if>
      <if test="fullname != null">
        fullname = #{fullname,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=CHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="accfri != null">
        accfri = #{accfri,jdbcType=CHAR},
      </if>
      <if test="accsat != null">
        accsat = #{accsat,jdbcType=CHAR},
      </if>
      <if test="accsun != null">
        accsun = #{accsun,jdbcType=CHAR},
      </if>
      <if test="accmon != null">
        accmon = #{accmon,jdbcType=CHAR},
      </if>
      <if test="travelmode != null">
        travelmode = #{travelmode,jdbcType=CHAR},
      </if>
      <if test="arrivalairport != null">
        arrivalairport = #{arrivalairport,jdbcType=VARCHAR},
      </if>
      <if test="arrivalairline != null">
        arrivalairline = #{arrivalairline,jdbcType=VARCHAR},
      </if>
      <if test="arrivaldatetime != null">
        arrivaldatetime = #{arrivaldatetime,jdbcType=VARCHAR},
      </if>
      <if test="arrivaldate != null">
        arrivaldate = #{arrivaldate,jdbcType=DATE},
      </if>
      <if test="arrivaltime != null">
        arrivaltime = #{arrivaltime,jdbcType=TIME},
      </if>
      <if test="departureairport != null">
        departureairport = #{departureairport,jdbcType=VARCHAR},
      </if>
      <if test="departureairline != null">
        departureairline = #{departureairline,jdbcType=VARCHAR},
      </if>
      <if test="departuredatetime != null">
        departuredatetime = #{departuredatetime,jdbcType=VARCHAR},
      </if>
      <if test="departuredate != null">
        departuredate = #{departuredate,jdbcType=DATE},
      </if>
      <if test="departuretime != null">
        departuretime = #{departuretime,jdbcType=TIME},
      </if>
      <if test="registrationdatetime != null">
        registrationdatetime = #{registrationdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="bhaktichakracollected != null">
        bhaktichakracollected = #{bhaktichakracollected,jdbcType=BIT},
      </if>
      <if test="accomodationtype != null">
        accomodationType = #{accomodationtype,jdbcType=VARCHAR},
      </if>
      <if test="virtualRoomNum != null">
        virtual_room_num = #{virtualRoomNum,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.westzone.milan.model.Registration">
    update registration
    set milanlocation = #{milanlocation,jdbcType=CHAR},
      zone = #{zone,jdbcType=VARCHAR},
      kendra = #{kendra,jdbcType=VARCHAR},
      category = #{category,jdbcType=CHAR},
      fullname = #{fullname,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=CHAR},
      phone = #{phone,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      accfri = #{accfri,jdbcType=CHAR},
      accsat = #{accsat,jdbcType=CHAR},
      accsun = #{accsun,jdbcType=CHAR},
      accmon = #{accmon,jdbcType=CHAR},
      travelmode = #{travelmode,jdbcType=CHAR},
      arrivalairport = #{arrivalairport,jdbcType=VARCHAR},
      arrivalairline = #{arrivalairline,jdbcType=VARCHAR},
      arrivaldatetime = #{arrivaldatetime,jdbcType=VARCHAR},
      arrivaldate = #{arrivaldate,jdbcType=DATE},
      arrivaltime = #{arrivaltime,jdbcType=TIME},
      departureairport = #{departureairport,jdbcType=VARCHAR},
      departureairline = #{departureairline,jdbcType=VARCHAR},
      departuredatetime = #{departuredatetime,jdbcType=VARCHAR},
      departuredate = #{departuredate,jdbcType=DATE},
      departuretime = #{departuretime,jdbcType=TIME},
      registrationdatetime = #{registrationdatetime,jdbcType=TIMESTAMP},
      bhaktichakracollected = #{bhaktichakracollected,jdbcType=BIT},
      accomodationType = #{accomodationtype,jdbcType=VARCHAR},
      virtual_room_num = #{virtualRoomNum,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>